  body {
  /* set margin to 0 and overflow to hidden, to go fullscreen */
  margin: 0;
  overflow: hidden;
  color: white;
  background: black;
  
  
}
/*@media(min-width: 1300px){
  body{
    background: url('https://raw.githubusercontent.com/baronwatts/images/master/elonbackground.png'), #000;
    background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  }
}
*/